In [4]:
import numpy as np
!pip install -q wget
!pip install -q autogluon
!pip install -q pyarrow==15.0.2
!pip install -q pandas

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\Jimmy\\Documents\\UNI\\Projects\\24cast\\venv\\Lib\\site-packages\\~sutil\\_psutil_windows.pyd'
Check the permissions.


[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pyarrow==15.0.2
  Obtaining dependency information for pyarrow==15.0.2 from https://files.pythonhosted.org/packages/7a/28/00e4a73935363a6b80837216b7a9746ac32ee4af8ac65c84954aad73cbb8/pyarrow-15.0.2-cp39-cp39-win_amd64.whl.metadata
  Downloading pyarrow-15.0.2-cp39-cp39-win_amd64.whl.metadata (3.1 kB)
Collecting numpy<2,>=1.16.6 (from pyarrow==15.0.2)
  Obtaining dependency information for numpy<2,>=1.16.6 from https://files.pythonhosted.org/packages/b5/42/054082bd8220bbf6f297f982f0a8f5479fcbc55c8b511d928df07b965869/numpy-1.26.4-cp39-cp39-win_amd64.whl.metadata
  Using cached numpy-1.26.4-cp39-cp39-win_amd64.whl.metadata (61 kB)
Downloading pyarrow-15.0.2-cp39-cp39-win_amd64.whl (24.9 MB)
   ---------------------------------------- 0.0/24.9 MB ? eta -:--:--
   ---------------------------------------- 0.3/24.9 MB 5.7 MB/s eta 0:00:05
   - -------------------------------------- 1.0/24.9 MB 10.6 MB/s eta 0:00:03
   - -------------------------------------- 1.0/24.9 MB 11.0 MB/s eta 0:00:03
   - -------------------------------------- 1.0/24.9 MB 11.0 MB/s eta 0:00:03
   - -------------------------------------- 1.0/24.9 MB 11.0 MB/s eta 0:00:03
   - -------------------------------------- 1.0/24.9 MB 11.0 MB/s eta 0:00:03
   --- ------------------------------------ 1.9/24.9 MB 5.8 MB/s eta 0:00:04
   --- ------------------------------------ 2.1/24.9 MB 6.0 MB/s eta 0:00:04
   --- ------------------------------------ 2.2/24.9 MB 5.3 MB/s eta 0:00:05
   ----- ---------------------------------- 3.1/24.9 MB 7.2 MB/s eta 0:00:04
   ----- ---------------------------------- 3.1/24.9 MB 7.2 MB/s eta 0:00:04
   ----- ---------------------------------- 3.6/24.9 MB 6.3 MB/s eta 0:00:04
   ------ --------------------------------- 4.2/24.9 MB 7.0 MB/s eta 0:00:03
   ------ --------------------------------- 4.2/24.9 MB 7.0 MB/s eta 0:00:03
   -------- ------------------------------- 5.0/24.9 MB 7.1 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/24.9 MB 7.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/24.9 MB 7.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/24.9 MB 7.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/24.9 MB 7.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/24.9 MB 7.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/24.9 MB 7.3 MB/s eta 0:00:03
   --------- ------------------------------ 6.2/24.9 MB 5.9 MB/s eta 0:00:04
   ---------- ----------------------------- 6.3/24.9 MB 6.0 MB/s eta 0:00:04
   ---------- ----------------------------- 6.3/24.9 MB 6.0 MB/s eta 0:00:04
   ---------- ----------------------------- 6.3/24.9 MB 6.0 MB/s eta 0:00:04
   ---------- ----------------------------- 6.3/24.9 MB 5.1 MB/s eta 0:00:04
   ----------- ---------------------------- 7.3/24.9 MB 5.7 MB/s eta 0:00:04
   ----------- ---------------------------- 7.3/24.9 MB 5.7 MB/s eta 0:00:04
   ------------- -------------------------- 8.3/24.9 MB 6.0 MB/s eta 0:00:03
   ------------- -------------------------- 8.4/24.9 MB 6.0 MB/s eta 0:00:03
   -------------- ------------------------- 9.1/24.9 MB 6.1 MB/s eta 0:00:03
   --------------- ------------------------ 9.4/24.9 MB 6.3 MB/s eta 0:00:03
   --------------- ------------------------ 9.5/24.9 MB 6.0 MB/s eta 0:00:03
   ---------------- ----------------------- 10.5/24.9 MB 6.5 MB/s eta 0:00:03
   ---------------- ----------------------- 10.5/24.9 MB 6.5 MB/s eta 0:00:03
   ------------------ --------------------- 11.5/24.9 MB 7.3 MB/s eta 0:00:02
   ------------------ --------------------- 11.5/24.9 MB 7.3 MB/s eta 0:00:02
   ------------------ --------------------- 11.7/24.9 MB 6.8 MB/s eta 0:00:02
   ------------------ --------------------- 11.7/24.9 MB 6.8 MB/s eta 0:00:02
   -------------------- ------------------- 12.6/24.9 MB 7.1 MB/s eta 0:00:02
   -------------------- ------------------- 13.0/24.9 MB 6.7 MB/s eta 0:00:02
   --------------------- ------------------ 13.6/24.9 MB 7.3 MB/s eta 0:00:02
   --------------------- ------------------ 13.6/24.9 MB 7.3 MB/s eta 0:00:02
   ----------------------- ---------------- 14.7/24.9 MB 7.3 MB/s eta 0:00:02
   ----------------------- ---------------- 14.7/24.9 MB 7.3 MB/s eta 0:00:02
   ------------------------ --------------- 15.1/24.9 MB 6.8 MB/s eta 0:00:02
   ------------------------- -------------- 15.7/24.9 MB 8.5 MB/s eta 0:00:02
   ------------------------- -------------- 15.7/24.9 MB 8.5 MB/s eta 0:00:02
   ------------------------- -------------- 15.7/24.9 MB 8.5 MB/s eta 0:00:02
   -------------------------- ------------- 16.8/24.9 MB 9.2 MB/s eta 0:00:01
   -------------------------- ------------- 16.8/24.9 MB 9.2 MB/s eta 0:00:01
   -------------------------- ------------- 16.8/24.9 MB 9.2 MB/s eta 0:00:01
   --------------------------- ------------ 17.0/24.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------- ----------- 17.8/24.9 MB 8.6 MB/s eta 0:00:01
   ---------------------------- ----------- 17.8/24.9 MB 8.6 MB/s eta 0:00:01
   ----------------------------- ---------- 18.2/24.9 MB 7.9 MB/s eta 0:00:01
   ----------------------------- ---------- 18.5/24.9 MB 7.7 MB/s eta 0:00:01
   ------------------------------ --------- 18.9/24.9 MB 7.9 MB/s eta 0:00:01
   ------------------------------ --------- 18.9/24.9 MB 7.9 MB/s eta 0:00:01
   ------------------------------ --------- 19.0/24.9 MB 7.4 MB/s eta 0:00:01
   -------------------------------- ------- 19.9/24.9 MB 7.8 MB/s eta 0:00:01
   -------------------------------- ------- 19.9/24.9 MB 7.8 MB/s eta 0:00:01
   --------------------------------- ------ 20.7/24.9 MB 7.4 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/24.9 MB 7.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.1/24.9 MB 7.2 MB/s eta 0:00:01
   ----------------------------------- ---- 22.0/24.9 MB 8.1 MB/s eta 0:00:01
   ----------------------------------- ---- 22.0/24.9 MB 8.1 MB/s eta 0:00:01
   ----------------------------------- ---- 22.0/24.9 MB 8.1 MB/s eta 0:00:01
   ----------------------------------- ---- 22.0/24.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.9 MB 4.8 MB/s eta 0:00:01
   ------------------------------------- -- 23.3/24.9 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 23.7/24.9 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  24.5/24.9 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  24.9/24.9 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------- 24.9/24.9 MB 4.5 MB/s eta 0:00:00
Using cached numpy-1.26.4-cp39-cp39-win_amd64.whl (15.8 MB)
Installing collected packages: numpy, pyarrow
Successfully installed numpy-1.26.4 pyarrow-15.0.2

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
!wget https://zenodo.org/records/3899018/files/LoadProfile_20IPs_2016.csv -q
!wget https://zenodo.org/records/3899018/files/LoadProfile_30IPs_2017.csv -q

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [11]:
import pandas as pd
from copy import deepcopy
import numpy as np

In [2]:
lp_20ips_2016 = pd.read_csv("LoadProfile_20IPs_2016.csv", sep=";", skiprows=1)
lp_30ups_2017 = pd.read_csv("LoadProfile_30IPs_2017.csv", sep=";", skiprows=1)
lp_20ips_2016.head()

,Time stamp,LG 1,LG 2,LG 3,LG 4,LG 5,LG 6,LG 7,LG 8,LG 9,...,LG 11,LG 12,LG 13,LG 14,LG 15,LG 16,LG 17,LG 18,LG 19,LG 20
0,01.01.2016 00:15:00,39,332.16,10.552,416.0,13.12,0.12,6.0,120,70,...,0.0,27.400,29.6,65.0,2462.4,6.200,0.96,25.8,11.46,220
1,01.01.2016 00:30:00,41,321.36,10.300,418.4,13.12,0.24,6.0,116,74,...,0.0,25.448,30.4,66.0,2462.4,6.200,0.90,34.2,11.32,224
2,01.01.2016 00:45:00,39,336.48,10.348,419.6,13.76,0.12,6.0,108,68,...,0.0,27.000,30.4,68.0,2459.2,5.876,0.90,38.4,11.62,226
3,01.01.2016 01:00:00,40,319.20,10.600,422.0,13.44,0.12,8.0,112,80,...,0.0,27.552,29.6,67.0,2451.2,6.200,1.02,19.8,9.40,220
4,01.01.2016 01:15:00,39,322.80,10.148,418.8,13.44,0.24,6.0,120,72,...,272.0,24.900,31.2,66.0,2436.8,6.200,0.90,16.8,10.58,224

In [3]:
lp_30ups_2017.head()

,Time stamp,LG 01,LG 02,LG 03,LG 04,LG 05,LG 06,LG 07,LG 08,LG 09,...,LG 21,LG 22,LG 23,LG 24,LG 25,LG 26,LG 27,LG 28,LG 29,LG 30
0,01.01.2017 00:15:00,4.340,3.150,0.810,3.560,0.406,7.526,7.913,2.740,0.918,...,19.40,2.1,4.6,6.0,0.853,3.58,14.55,14.55,16.75,12.0
1,01.01.2017 00:30:00,4.510,2.738,0.885,3.530,0.406,6.917,8.150,3.005,1.026,...,19.25,1.8,4.3,8.2,0.805,3.84,14.55,14.55,17.75,12.0
2,01.01.2017 00:45:00,3.795,2.413,0.900,2.785,0.325,6.737,6.938,2.795,0.936,...,19.05,1.9,4.7,5.6,0.805,3.46,16.45,16.45,19.50,11.5
3,01.01.2017 01:00:00,4.245,1.875,0.825,2.760,0.325,6.744,7.088,2.810,0.942,...,19.10,1.8,4.2,6.0,0.817,3.68,14.75,14.75,19.50,11.5
4,01.01.2017 01:15:00,4.050,1.700,0.915,3.020,0.325,7.394,4.075,2.545,0.942,...,19.10,1.8,4.3,8.2,0.817,4.08,14.65,14.65,19.25,11.5

In [4]:
# TODO: Split Data

# AutoGluon

In [5]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor
# Prepare Data 
df = deepcopy(lp_20ips_2016)#[["Time stamp", "LG 1"]]
df.loc[:, ["Time stamp"]] = df["Time stamp"].str.replace(r'[^0-9.: ]', '', regex=True).str.strip()
df.loc[:, ["Time stamp"]] = pd.to_datetime(df["Time stamp"], format='%d.%m.%Y %H:%M:%S')
# TODO Normalize Data else MASE means nothing
# Concat Columns & Assign Ids 
df = df.melt(id_vars=['Time stamp'], var_name='item_id', value_name='target')
df

                Time stamp item_id  target
0      2016-01-01 00:15:00    LG 1    39.0
1      2016-01-01 00:30:00    LG 1    41.0
2      2016-01-01 00:45:00    LG 1    39.0
3      2016-01-01 01:00:00    LG 1    40.0
4      2016-01-01 01:15:00    LG 1    39.0
...                    ...     ...     ...
702795 2016-12-31 23:00:00   LG 20   280.0
702796 2016-12-31 23:15:00   LG 20   288.0
702797 2016-12-31 23:30:00   LG 20   284.0
702798 2016-12-31 23:45:00   LG 20   288.0
702799 2017-01-01 00:00:00   LG 20   284.0

[702800 rows x 3 columns]

In [6]:
train_data = TimeSeriesDataFrame.from_data_frame(
    df,
    id_column="item_id",
    timestamp_column="Time stamp"
)
train_data

                             target
item_id timestamp
LG 1    2016-01-01 00:15:00    39.0
        2016-01-01 00:30:00    41.0
        2016-01-01 00:45:00    39.0
        2016-01-01 01:00:00    40.0
        2016-01-01 01:15:00    39.0
...                             ...
LG 20   2016-12-31 23:00:00   280.0
        2016-12-31 23:15:00   288.0
        2016-12-31 23:30:00   284.0
        2016-12-31 23:45:00   288.0
        2017-01-01 00:00:00   284.0

[702800 rows x 1 columns]

In [17]:
predictor = TimeSeriesPredictor(
    prediction_length=48,
    path="autogluon-m4-hourly",
    target="target",
    eval_metric="MASE",
    freq="15min"
)

# Dev Setting
predictor.fit(
    train_data,
    presets="medium_quality",
    time_limit=5*60,
)

Beginning AutoGluon training... Time limit = 300s
AutoGluon will save models to 'autogluon-m4-hourly'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.13
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22631
CPU Count:          12
GPU Count:          0
Memory Avail:       1.91 GB / 15.34 GB (12.5%)
Disk Space Avail:   102.23 GB / 474.72 GB (21.5%)
===================================================
Setting presets to: medium_quality

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': MASE,
 'freq': '15min',
 'hyperparameters': 'light',
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 48,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'target',
 'time_limit': 300,
 'verbosity': 2}

train_data with frequency 'None' has been resampled to frequency '15min'.
Provided train_data has 702720 rows, 20 time series. Median time series length is 35136 (min=35136, max=35136).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'MASE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-09-11 05:10:03
Models that will be trained: ['Naive', 'SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'ETS', 'Theta', 'TemporalFusionTransformer']
Training timeseries model Naive. Training for up to 37.3s of the 298.3s of remaining time.
	-0.2897       = Validation score (-MASE)
	1.18    s     = Training runtime
	4.84    s     = Validation (prediction) runtime
Training timeseries model SeasonalNaive. Training for up to 41.7s of the 292.2s of remaining time.
	-0.3659       = Validation score (-MASE)
	0.74    s     = Training runtime
	0.16    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular. Training for up to 48.6s of the 291.3s of remaining time.
	-0.3377       = Validation score (-MASE)
	45.41   s     = Training runtime
	4.69    s     = Validation (prediction) runtime
Training timeseries model DirectTabular. Training for up to 48.2s of the 241.2s of remaining time.
	-0.4468       = Validation score (-MASE)
	11.17   s     = Training runtime
	1.91    s     = Validation (prediction) runtime
Training timeseries model ETS. Training for up to 57.0s of the 228.1s of remaining time.
	-0.3630       = Validation score (-MASE)
	0.75    s     = Training runtime
	41.80   s     = Validation (prediction) runtime
Training timeseries model Theta. Training for up to 61.8s of the 185.5s of remaining time.
	-0.4377       = Validation score (-MASE)
	0.73    s     = Training runtime
	27.77   s     = Validation (prediction) runtime
Training timeseries model TemporalFusionTransformer. Training for up to 78.5s of the 157.0s of remaining time.
	-0.3994       = Validation score (-MASE)
	72.74   s     = Training runtime
	0.54    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'DirectTabular': 0.03, 'ETS': 0.07, 'Naive': 0.33, 'RecursiveTabular': 0.2, 'SeasonalNaive': 0.09, 'TemporalFusionTransformer': 0.24, 'Theta': 0.04}
	-0.2018       = Validation score (-MASE)
	0.64    s     = Training runtime
	81.71   s     = Validation (prediction) runtime
Training complete. Models trained: ['Naive', 'SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'ETS', 'Theta', 'TemporalFusionTransformer', 'WeightedEnsemble']
Total runtime: 215.64 s
Best model: WeightedEnsemble
Best model score: -0.2018

In [18]:
# TODO: Smarter Train-Test Split
test = deepcopy(lp_30ups_2017)#[["Time stamp", "LG 1"]]
test.loc[:, ["Time stamp"]] = test["Time stamp"].str.replace(r'[^0-9.: ]', '', regex=True).str.strip()
test.loc[:, ["Time stamp"]] = pd.to_datetime(test["Time stamp"], format='%d.%m.%Y %H:%M:%S')

# TODO: Check whether makes sense (AG can't handle Nans)
test = test.interpolate(method="linear")

# Concat Columns & Assign Ids 
test = test.melt(id_vars=['Time stamp'], var_name='item_id', value_name='target')
test_data = TimeSeriesDataFrame.from_data_frame(
    test.reset_index(drop=True),
    id_column="item_id",
    timestamp_column="Time stamp"
)
predictor.evaluate(test_data)

C:\Users\Jimmy\AppData\Local\Temp\ipykernel_17624\3153554787.py:6: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  test = test.interpolate(method="linear")
data with frequency 'None' has been resampled to frequency '15min'.
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble

{'MASE': -0.19977795528095804}

C:\Users\Jimmy\AppData\Local\Temp\ipykernel_17624\3953822821.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  test = test.interpolate(method="linear")
C:\Users\Jimmy\Documents\UNI\Projects\24cast\venv\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

Time stamp    0
item_id       0
target        0
dtype: int64

In [ ]:
# High Performance Setting
predictor.fit(
    train_data,
    presets="best_quality",
    time_limit=4*60*60,
)